body {
	text-align:center;
}

.row {
  width: 100%;
  text-align: center; // center the content of the container
}

.card {

  /* width: 100px; */
  display: inline-block; // display inline with abality to provide width/height
}

.cardsField{
	text-align: center;
	width: auto;
	margin: 0 auto;
}

.cardChoice {

  /* width: 100px; */
  display: inline-block; // display inline with abality to provide width/height
}

/* #lines path
{
  stroke: white;
  stroke-width: 2px;
 } */